.App {
    background-color: var(--color-background);
    
    height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 400px;
    width: 500px;
    background-color: var(--color-cardBackground);
    border-radius: 24px;
    padding: 18px;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.2);
}

.card > h1 {
    margin-bottom: 24px;
    color: var(--color-background);
}

.card > div {
    height: 100%;
}