#root {
    --color-background:#1976D2;
    --color-cardBackground: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h2,h3,h4 {
  margin: 12px 0;
}